#user-img{
    position: fixed;
    top: 25px;
    right: 200px;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
#user-background{
    position: fixed;
    background: rgba(0,0,0,0);
    border-radius: 8px;
    top:20px;
    right: 195px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
}