* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #FCFCFC;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  background: #FCFCFC;
  max-width: 480px;
  height: auto;
  margin: 12px auto 64px auto;
  padding-bottom:54px;
  border: 4px solid;
  border-radius: 24px;
  border-color: #CCCCCC;
}

@media screen and (max-width: 834px) {
  .container {
    width: 428px;
  }
}

@media screen and (max-width: 480px) {
  .container {width: 320px;
		   border: none; }
 body{background: #222222;
font-size: 0.9em;}
img {
  width: 280px;
  height: auto;}
p{margin:6px 0px;}
}

