#head {
    display: flex; /* 开启flex布局 */
    background: rgba(41, 41, 41, 0.7);
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#logo{
    margin-top: 10px;
    top: 0;
    left: 0;
}
#title {
    margin-left: 10px;
    font-size: 30px;
    color: rgb(220, 220, 220);
}
#set-background{
    position: fixed;
    top: 0;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background: rgba(0,0,0,0);
}
#set{
    position: fixed;
    top: 5px;
    right: 25px;
    width: 30px;
    height: 30px;
}

