.None{
    font-size: 0;
    width: 100%;
    height: 5px;
    color: rgba(0,0,0,0);
}
#count{
    display: flex;
    top:0;
    left: 50%;
    margin-left: 20%;
}
footer{
    background: rgba(255, 255, 255, 0.5);
    left: 0;
}
.footer-a{
    color: rgb(0, 0, 0);
}
.footer-a:hover{
    color: rgb(50,50,150);
    text-decoration: rgb(50,50,150);
}