.None{
    font-size: 0;
    width: 100%;
    height: 40px;
    color: rgba(0,0,0,0);
}
footer{
    background: rgba(0, 0, 0, 0.5);
    left: 0;
}
.footer-a{
    color: rgb(255,255,255);

}
.footer-a:hover{
    color: rgb(50,50,150);
    text-decoration: rgb(50,50,150);
}