#find-{
    display: flex;
    float: left;
    background: rgba(170, 170, 170, 0.6);
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 200px;
}
#find-input{
    border-radius: 8px;
    display: flex;
    height: 30px;
    margin: 10px;
    width: 400px;
    left: 50%;
    color: rgb(0,0,0);
    font-size: 20px;
    background: rgba(200,200,200,0.7);
    padding: 2px 15px;
}
#find-button{
    border-radius: 20%;
    background: rgba(0,0,0,0);
    height: 35px;
    width: 35px;
    display: flex;
    top: 25px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#find-button:hover{
    background: rgba(200,200,200,0.9);
}