#set-droplist{
    position: fixed;
    background: #333;
    box-shadow: 0 1px 2px #333;
    height: 0;
    border-radius: 10px;
    overflow:hidden;
    top: 40px;
    right: 20px;
    color: rgb(220, 220, 220);
    z-index: 9999;
}
#set-droplist li{
    display: flex;
    align-items: center; /* 垂直居中（可选，提升体验） */
    justify-content: space-around; /* 元素均匀分布（可选） */
    gap: 10px;
    border-top: 1px solid #666;
    padding: 10px;
}
#set-droplist li:hover{
    background: #666;
}
#set-droplist .first{
    border-top: none;
}
#set-droplist a{
    color: rgb(220,220,220);
}