#set-background{
    position: fixed;
    top: 15px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    background: rgba(0,0,0,0);
}
#set{
    position: fixed;
    top: 20px;
    right: 35px;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}