#head {
    display: flex; /* 开启flex布局 */
    background: rgba(214, 214, 214, 0.7);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#logo{
    margin-top: 10px;
    margin-left: 10px;
    top: 0;
    left: 0;
}
#title {
    margin-left: 100px;
    font-size: 50px;
    margin-top: 20px;
    height: 40px;
    color: rgb(10, 10, 10);
    font-family: "华文行楷", STXingkai, "楷体", KaiTi, serif;;
}


