#head {
    display: flex; /* 开启flex布局 */
    background: rgba(41, 41, 41, 0.7);
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#logo{
    margin-top: 10px;
    top: 0;
    left: 0;
}
#title {
    margin-left: 10px;
    font-size: 30px;
    color: rgb(220, 220, 220);
}


